<%- include("../partials/header") %>
<div id="indi-blog">
    <div class="container">
		 
		<center><h3 id="blog-title">HOW TO SEE TAIWAN ON A BUDGET</h3></center>
		<center><img id="blog-img" src="/img/blogs/blog2.jpg" alt="" width="780" height="540"></center>
      <p>On the one hand, I like that it’s still off the radar because it means fewer crowds. You’ll never see too many people traveling around Taiwan. It’s, to use the cliche, a hidden gem you have (mostly) to yourself. There are no hordes of people trying to take their IG selfies. On the other hand, it’s a shame people don’t make Taiwan a bigger travel priority because it’s so wonderful and has so much going for it. This is a country that deserves way more attention than it is given.
        And, what’s great for budget travelers like us, is that Taiwan is also super affordable.
        It’s on a level of cheapness similar to parts of Southeast Asia, with many meals costing only a few dollars. Even when I “splurged” on a meal like a high-end sushi omakase, I spent less than 1,200 NT$ ($40 USD). A meal (and too many beers) at an English style pub aimed at expats? Less than 360 NT$ ($12 USD).
        Taiwan is a dream destination for those looking to get a lot of value for their money.
        Today, I’m going to break down some typical costs in Taiwan, my suggested budgets, and ways to save.</p>
        <center><h5 id="blog-title">Typical Costs</h5></center>

        <p>Taiwan is pretty cheap so, as long as you don’t eat at high-end restaurants or stay at upscale hotels, you won’t be hard-pressed to spend a lot of money. Here’s a list of typical costs in new Taiwan dollars (NT$):
          <div id="list-item" style="align-items: left;">
            <ul>
            <li>Noodle soup – 30-45 ($1-1.50 USD)</li>
            <li>Noodles – 40 ($1.35 USD)</li>
            <li>Rice – 85-100 ($2.85-3.35 USD)</li>
            <li>Lunch boxes – 100 ($3.35 USD)</li>
            <li>Sushi lunch – 300 – 450 ($10 – 15 USD)</li>
            <li>MosBurger (best fast food burger joint) – 165 ($5.50 USD)</li>
            <li>Museum entry – 30-100 ($1-3.35 USD)</li>
            <li>Metro ride – 30-65 ($1-2.15 USD)</li>
            <li>Taxi – 70 (plus 25 per kilometer) ($2.35 USD plus 0.84 per km)</li>
            <li>Intercity train ride – 375-850 ($12.55-$28.40 USD)</li>
            <li>High-speed rail (HSR) – 155-1,500 ($5.20-50.15 USD)</li>
            <li>Hostel dorm – 240-600 per night ($8-20 USD)</li>
            <li>Hostel private room – 1,050-1,350 per night ($35-45 USD)</li>
            </ul>
          </div>

        </p>
        <center><h5 id="blog-title">How Much Do YOU need?</h5></center>
        <p>So, with that said, how much do you need to travel around Taiwan? If you replicated my trip, I think 1,930-2,230 NT$ ($65-75 USD) would be enough. You wouldn’t want for anything on that budget and it would cover cheap private accommodation, high-speed trains, some tours, and a healthy amount of food and drinks. If you took a few slower trains or stuck to eating at food markets (avoiding high-end sushi restaurants like me), you could get by closer to 1,785 NT$ ($60 USD) per day.
          If you’re on a backpacker budget, you need around 890-1,040 NT$ ($30-35 USD) a day. A dorm room will cost you around 300 NT$ ($10 USD), meals are only 90-150 NT$ ($3-5 USD) each, and beer is pretty cheap. Taking regular (slower) trains would save a few more dollars a day.
          In short, whether you’re a backpacker or just a regular budget traveler, you’re never going to spend a huge amount here. Outside accommodation and high-end food, everything in the country is super cheap.</p>
    </div></center>
	    <center><div class="container">
      <div id="author-info" class="jumbotron" style="background: #c2e6ff;">
        <h5 >By: <span id="author-name">Will Smith</span> <img src="/img/author/author2.jpg" alt="" width="150" height="200" style="border-radius:25%;"> </h5>
        <h6 id="date-read" ><span id="blog-date">Published On: 20/04/2020</span> <span id="read-time">	5 Minutes read		</span> </h6>
      </div>
    </div></center>
</div>
<%- include("../partials/header") %>