<%- include("../partials/header") %>
<div id="indi-blog">
	

    <div class="container">
      <center><h3 id="blog-title"><em>TRAVEL IS NEVER GOING TO BE THE SAME AGAIN</em></h3>
		<img id="blog-img" src="/img/blogs/blog1.jpg" alt="" width="780" height="540"></center>
      <p>If you’re like me, you might be wondering what the future of travel holds now that more countries are easing lockdowns and opening borders. I wrote about the future of travel back in March but, like everything COVID related, a lot has changed since then.
    Lately, days feel like years and months feel like decades.
    Given how much has changed — and how fast things are still changing — I want to revisit this topic.
    There have been a plethora of articles lately about how destinations and companies will change and what travel will look like once we head out on the road again.
    I agree with many of the points my colleagues make.</p>
    <p>Yes, local/domestic travel will be big over the next few months as people forgo international/cross-border travel for travel within their own country. Yes, many countries will require a COVID test at the border or, at the very least, proof of a recent negative COVID test to enter. Yes, most companies will tout their cleaning policies more as a way to attract customers.
    And, yes, the travel industry’s recovery will be slow as people cautiously head out into the world again.
    But I think too many have blinders and are underestimating just how bad it’s going to be for the industry. They simply don’t want to see the ugly truth:
    The sky is falling – and this industry is about to see a massive shakeup.
    Because people make travel happen.
    Without people, travel doesn’t exist.
    And the more I talk to readers, friends, and other travelers, the more I realize people will not travel again in large numbers until there’s either a vaccine, treatment, or a decline in cases after reopening.
    Humans are hardwired to minimize risk and uncertainty. We didn’t leave the cave after dark because of the danger out there. The night brought terrors and risks. That risk-reduction psychology has stayed with us through the millennia. It’s why we always go with the devil we know and stay in jobs we don’t love but are stable.
    Humans always reduce risk.</p>
    <p>So, even as countries open their borders, most people are taking a wait-and-see approach.
    And I can see that not just through my interactions with friends and readers but through Google too. Even as parts of the world have started to reopen, this website has seen no increase in our search traffic. We rank for such a wide variety of keywords and often in the top 1-3 results that I can use my site’s traffic as a good barometer for general consumer sentiment. (TripAdvisor and Kayak have shown similar research too, though there are some sectors of the industry like RV travel that are booming.)
    People walk before they run and they search for travel and begin to plan months in advance before actually booking it.
    That means if people aren’t searching for travel now, they are unlikely to take a trip in the next few months.
    That is not good news.
    If companies talked to end consumers more, they would know this. Maybe they do. But their press statements suggest there is just a huge pent-up demand waiting for travel that will save the industry anytime now.
    Yeah, people all want to travel. Just not anytime soon.
    Twenty percent of people will go traveling the second they can and another twenty are so risk-averse they are probably going to wait for some vaccine.
    Everyone else? They want to see what happens to the first 20%.
    There are just so many unknowns.</p>
    <p>Will you be quarantined? Will you pick COVID up and bring it home? What happens if you think you’re fine but end up sick, aren’t able to get home, and you’re now stuck somewhere for two weeks?
    And what about the destination itself? will attractions be closed or restricted? Will some activities be canceled? Will transportation be limited? Will distancing regulations interfere with meals, transportation, tours, and other activities? Will you have to spend your vacation wearing a mask? What if others aren’t wearing a mask?
    There are too many variables and people don’t want to spend their one big trip worrying all the time. Travel is supposed to be a relaxing escape.
    It doesn’t matter what hygiene or social distancing measures countries, tour operators, or airlines take. In a recent poll, only 28% said open borders would make them feel safe. That’s the crowd that will travel. The rest are staying home.
    Right now, most of the travel industry is relying on meager savings, government loans, and a lot of hope. The industry is in a severe depression right now with 60% of jobs lost. Things are bad. We’re all just hoping for some semblance of a summer travel season to get through the rest of the year and keep our businesses afloat.
    But I think hope is going to smack into reality really soon when this travel season is a lot shorter than we imagined — and with a lot fewer people. While local travel will grow, there simply aren’t enough local tourists to make up for the missing international ones.
    Plus, let’s not forget capacity restrictions.
    How many hostels, hotels, or airlines can operate at 50% capacity? How big can Airbnb remain if no one wants to stay in other people’s homes? How many walking tour companies can be sustained by vastly fewer tourists?
    I think this fall we’re going to see many tour operators, hostels, independent hotels, magazines, creators, and other businesses in this space go under. A bloodbath is coming. (And this site is not immune. We’re barely treading water. At our current spend, we’ll be bankrupt by Feb 2021 if something doesn’t change.)
    But, while the job loss will be terrible, travel was in need of serious reform. It had simply grown too big. We were in a Gold Rush. From VC-backed startups to hostels to influencers to tour companies, there was just too much of everything. Overtourism was a huge problem. Destinations just weren’t built to handle so many people and the environmental impact from all this travel was staggering.
    In my opinion, we were due for a realignment.</p>
    <p>I want people to go explore the world but, if so many of us are going to do that, then we need to do so in a more sustainable and managed way.
    We need to take a step back and say “Ok, how do we make this work for everyone involved?”
    Many destinations will use this downtime to change their policies to ensure more sustainable numbers of visitors in the future. You can already see this happening in Venice, Amsterdam, Prague, and Barcelona.
    Everyone can literally start from zero to create a more sustainable travel sector.
    Will this mean it will be as easy to travel in the future as it was in the past? Maybe. Maybe not.
    We should spread out our tourism more. Iceland is more than Reykjavik and the Blue Lagoon. Spain is more than Madrid and Barcelona. Venice isn’t big enough to handle all our numbers. Indonesia has over seventeen thousand islands. It’s not just Bali.
    That might raise prices for some destinations but long before this boom in travel, there was budget travel. There have always been ways to save money on the road. There will still be ways to save money on the road when this is all over.
    I’m not worried about travel becoming too expensive. Even if some places become less accessible (and, honestly, to protect places like the Galapagos, Everest, or the Machu Picchu, we should greatly reduce the numbers who go there), there’s still plenty of places in the world on a budget!
    But that is a problem for later because, as the crowds grow slower than destinations and companies hope, by the time we have a conversation about what “the future” looks like, most travel companies will be out of business anyway.
    What is coming is a seismic shift as large as when the Internet transformed how we book travel and get information.
    And I don’t think we’re prepared for that.
  </p>

    </div>
    <center><div class="container">
      <div id="author-info" class="jumbotron" style="background: #c2e6ff;">
        <h5 >By: <span id="author-name">Alisha Dixon</span> <img src="/img/author/author1.jpg" alt="" width="150" height="200" style="border-radius:25%;"> </h5>
        <h6 id="date-read" ><span id="blog-date">Published On: 22/06/2020</span> <span id="read-time">	10 Minutes read		</span> </h6>
      </div>
    </div></center>
</div>
<%- include("../partials/footer") %>