<%- include("../partials/header") %>
<div id="indi-blog">
    <div class="container">
      <center><h3 id="blog-title">THE 8 BEST THINGS TO SEE AND DO IN TAIPEI</h3>
		<img  id="blog-img" src="/img/blogs/blog4.jpg" alt="" width="780" height="540"></center>
      <div class="container">
        <p>I love Taipei. I lived here in 2010 while I taught English and built this website. It was a wonderful experience that helped me grow as a person. A decade later, I finally made it back to the city I loved so much and it was remarkable to see that so much of what I loved was still there: the endless gigantic food markets serving some of the best food in the world, a wild nightlife, spacious parks, interesting and quirky museums, and nearby mountains that call to you with easy and accessible hikes.Taipei (like Taiwan as a whole) is a hugely underrated destination and I can’t urge you enough to visit. It combines culture, nature, wonderful people, and affordability. I don’t understand why more people don’t visit but make their loss, your gain!</p>
        <p>To help you plan your trip, here are my top 8 things to do while in Taipei:</p>
        <h5>1. Take a Free Walking Tour</h5>
        <p>One of the first things I do when I arrive in a new destination is to take a free walking tour. They show you the lay of the land and help you see a place’s highlights while learning a little about its history and culture. Plus, you get access to a local who can answer any and all of your questions.
          Like It Formosa offers free daily walking tours around Taipei. Their tours focus more on cultural history than their competitor, Tour Me Away, which also offers free walking tours geared towards the backpacker crowd (Tour Me Away also runs pub crawls).
        </p>
        <h5>2. Visit the National Palace Museum</h5>
        <p>The National Palace Museum has over 70,000 artifacts from Imperial China, most of which were brought to Taiwan during the Chinese Civil War (1929–1947). In addition to the permanent exhibits, there are also rotating exhibits throughout the year as well as a section for children. There are free daily tours in English too. If you can’t get on the tour, get the audio guide. While the descriptions on the artifacts are pretty detailed, the audio tour goes into even more depth and gives you deeper insight into what you are seeing and the time period it is from. 221, Sec 2, Zhi Shan Road, +886 2 2881 2021, npm.gov.tw. Open Sunday–Thursday 8:30am–6:30pm and Friday–Saturday 8:30am–9pm. Admission is 350 NT$ ($11.65 USD) (470 NT$ ($15.65 USD) with an audio guide).
        </p>
        <h5>3. Soak in the Hot Springs</h5>
        <p>The Beitou Hot Springs area is a popular destination since it’s on the MRT (metro system) and only 30 minutes from downtown. There are lots of resorts, spas, and inns in the area where you can enjoy a dip in a hot spring. Be sure to also visit the Hot Springs Museum (housed in an old bathhouse from 1913), the Xinbeitou Historic Station (a heritage train station from 1916), and Thermal Valley (a sulfurous lake nearby that has walking trails).
          Admission to most hot springs starts around 40 NT$ ($1.33 USD) per person, making it a very affordable getaway for anyone looking for some R&R.
          Hot Springs Museum: No. 2, Zhongshan Road, +886 2 2893 9981, hotspringmuseum.taipei. Open daily from 9am-5pm. Admission is free.
          Xinbeitou Historic Station: 1 Qixing St., +886 2 2891 5558, xbths.taipei. Open Tuesday-Thursday from 10am-6pm and Friday-Sunday from 10am-8:30pm (closed Mondays). Admission is free.
        </p>
        <h5>4. Take a Cooking Class</h5>
        <p>Taiwan is a foodie’s dream! You got noodle soups, incredible rice dishes, amazing buns, dumplings, scallion pancakes, and so much more. The food in the country is world-class. While cooking classes here are a little pricey, they do take you through the local markets and teach you about local ingredients and how to make some traditional dishes. I always found Taiwanese food intimidating so it was nice to have someone help me understand the local food. It made me more adventurous in the night markets.</p>
        <h5>5. Visit the Museums</h5>
        <p>Taipei has a lot of museums. Given its size, I was surprised by how many actually they had, especially since the city isn’t known as being a center for museums. Here are some of my favorites:
          <ul>
            <li>National Taiwan Museum – This is the oldest museum in Taiwan and covers its history from a variety of different scientific perspectives, such as anthropology, earth sciences, zoology, and botany. It’s really basic and best if you go with kids. Admission is 30 NT$ ($1 USD).
            </li>
            <li>Miniatures Museum of Taipei – Opened in 1997, this museum is home to over 200 architectural miniatures, including castles, replica towns and streets, and even a 1/12 scale model of Buckingham Palace. It’s a weird museum but pretty cool. Admission is 180 NT$ ($6 USD).
              </li>
            <li>Museum of Contemporary Arts – I’m not a fan of contemporary art myself, but if you are, then don’t miss this museum. It has a rotating collection of exhibits, so there is always something new on display. Admission is 50 NT$ ($1.66 USD).
              </li>
            <li>Taipei Astronomical Museum – A fun and educational museum with exhibitions on ancient astronomy, technology, telescopes, the solar system, and much more. Admission is 60 NT$ ($2 USD).
              </li>
            <li>Taipei Fine Art Museum – Opened in 1983, this was the first art museum in Taiwan. It’s home to a wide variety of works from both international and Taiwanese artists and hosts rotating exhibitions too. Admission is 30 NT$ ($1 USD).
              </li>
            <li>National 228 Memorial Museum – This museum is dedicated to the tragic events that began on February 28, 1947, when an uprising against the Chinese government started following World War II. Admission is 20 NT$ ($0.67 USD).
              </li>
          </ul>
        </p>
        <h5>6. Enjoy the View from Taipei 101</h5>
        <p>For the best views in Taipei, visit Taipei 101. Opened in 2004, this was the tallest building in the world until 2010 (when the Burj Khalifa took its place). Standing 508m (1,667 feet) tall, it towers over Taipei.
          Even though I hate heights, you can’t visit Taipei without seeing it from the top of this building. There is an observation platform on the 89th floor that is absolutely breathtaking. You can also go up to the 91st floor and step outside if you want to really get your blood pumping (don’t worry, there are bars so you can’t fall).
          Additionally, go to Morton’s Steakhouse for happy hour. Not only do they have super cheap drink specials but their patio provides some extraordinary views of Taipei 101 itself.
        </p><p>No. 7, Section 5, Xinyi Road, taipei-101.com.tw/en/observatory. Open daily 11am–9pm. Admission is 600 NT$ ($20 USD).</p>
        <h5>7. See the Chiang Kai-shek Memorial Hall</h5>
        <p>Officially known as Liberty Square, this national monument was built in 1976 in honor of Chiang Kai-shek, former president of the Republic of China. He ruled mainland China from 1928 to 1949, and then in Taiwan from 1949 until his death in 1975.
          In addition to his monument, which is over 75m (250 feet) tall, there is also a massive open square where rallies and protests have been held over the years (hence its renaming as Liberty Square). The memorial also houses a library and a museum that documents Chiang Kai-shek’s life and career. It also has exhibits on Taiwan’s history and how the country evolved throughout the years.
          N. 21, Zhongshan South Road, Zhongzheng District, +886-2-2343-1100, cksmh.gov.tw. Open daily from 9am-6pm. Admission is free.</p>
        <h5>8. Ride the Maokong Gondola</h5>
        <p>Take a ride on the Maokong Gondola, which was built in 2007, and get some great views of the city and surrounding forests. The route stretches over 4km (2.5 miles) and includes several stations between the Taipei Zoo and Maokong.
          Spend some time exploring Maokong as it was once the prime tea-growing area of Taiwan. There are lots of winding footpaths you can wander, teahouses and cafes (the area still produces a lot of tea), and stunning views of Taipei (especially at night when the city is all lit up). It’s a popular spot on the weekend so visit during the week to avoid the crowds.
          Stations at Taipei Zoo (2), Zhinan Temple, and Maokong. Open Monday–Friday 9am–9pm (10pm on Fridays), Saturdays 8:30am–10pm, and Sundays 8:30am–9pm. Tickets start at 70 NT$ ($2.33 USD).</p>
      </div>
      </div>
	<center><div class="container">
      <div id="author-info" class="jumbotron" style="background: #c2e6ff;">
        <h5 >By: <span id="author-name">Leonardo DiCaprio</span> <img src="/img/author/author5.jpg" alt="" width="150" height="200" style="border-radius:25%;"> </h5>
        <h6 id="date-read" ><span id="blog-date">Published On: 19/03/2020</span> <span id="read-time">	20 Minutes read		</span> </h6>
      </div>
    </div></center>
    
</div>
<%- include("../partials/footer") %>