<%- include("partials/header") %>
	<div id="not-found">
		<div id="push-down" class="container">
			<div id="black" class="jumbotron">
				<h1 id="text">Something's Wrong Here.....</h1>
				<h3 id="text">We can't find the Page you are looking for. Try going back to the Home Page....</h3>
				<center id="home"><a href="/home"><button type="button" class="btn btn-outline-info btn-lg" >Go To Home!</button></a></center>
			</div>
		</div>	
	</div>
<%- include("partials/footer") %>