<%- include("partials/header") %>
<div id="author-page">
	

    <div id="authors" class="container">
      <center><div class="row">
        <div id="author-card-col" class="col-lg-4 col-md-12 col-sm-12">
          <div id="author-card"  id="author-card" class="card h-100"  >
            <img src="/img/author/author1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alisha Dixon</h5>
              <p class="card-text">Alisha Dixon writes books, which, considering where you’re reading this, makes perfect sense. He’s best known for writing science fiction, including the New York Times bestseller Redshirts, which won the Hugo Award for Best Novel. He also writes non-fiction, on subjects ranging from personal finance to astronomy to film, was the Creative Consultant for the Stargate: Universe television series. He enjoys pie, as should all right thinking people. You can get to his blog by typing the word “Whatever” into Google. No, seriously, try it.</p>
            </div>
          </div>
        </div>
       <div  id="author-card-col" class="col-lg-4 col-md-12 col-sm-12">
          <div  id="author-card" class="card h-100"  >
            <img src="/img/author/author2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tom Hanks</h5>
              <p class="card-text">Tom Hanks is the USA Today Bestselling author of 6 novels, including The Dig, A Warm Place to Call Home (a demon’s story), and Exigency. He lives in Northern California with “the wife,” “the kids,” “the dog,” “that cat,” and he occasionally wears pants. His latest release, RETURN, is the third book in his #1 bestselling Matt Turner series.</p>

            </div>
          </div>
        </div>
        <div  id="author-card-col" class="col-lg-4 col-md-12 col-sm-12">
          <div id="author-card" class="card h-100"  >
            <img src="/img/author/author3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Amanda Cowell</h5>
              <p class="card-text">Bestselling author Amanda Cowell published her first romance novel — a medieval romance called THE ROMANCE OF THE ROSE — in 1993. Since then, she has published over fifty romance novels and numerous novellas, including time travel romances, contemporary romances and paranormal romances. THE BEAUTY, part of her successful Bride Quest series, was her first book to land on the New York Times list of bestselling books. Amanda has written under the name Amanda Cross and continues to write as Deborah Cooke as well as Amanda Cowell. Amanda makes her home in Canada with her family, a large undisciplined garden and a growing number of incomplete knitting projects.</p>

            </div>
          </div>
        </div>
      </div></center>
      <center><div class="row">
        <div  id="author-card-col" class="col-lg-4 col-md-12 col-sm-12">
          <div id="author-card" class="card h-100"  >
            <img src="/img/author/author4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mark Dawn</h5>
              <p class="card-text">Mark Dawn was born and raised in the Bronx, New York. He was a bookseller before shifting to children’s publishing where he worked at a literary development company, a creative writing website for teens, and as a book reviewer of children’s and young adult novels. He lives in New York City and is tall for no reason. MORE HAPPY THAN NOT is his debut novel.</p>

            </div>
          </div>
        </div>
        <div  id="author-card-col" class="col-lg-4 col-md-12 col-sm-12">
          <div id="author-card" class="card h-100"  >
            <img src="/img/author/author5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Leonardo DiCaprio</h5>
              <p class="card-text">New York Times bestselling author Leonardo DiCaprio writes sweet, fun, action-packed mysteries. his characters are clever and fearless, but in real life, Leonardo is afraid of basements, bees, and going up stairs when it is dark behind his. Let’s face it. Leonardo wouldn’t last five minutes in one of his books.</p>

            </div>
          </div>
        </div>
        <div  id="author-card-col" class="col-lg-4 col-md-12 col-sm-12">
          <div id="author-card" class="card h-100"  >
            <img src="/img/author/author6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laurelin Paige</h5>
              <p class="card-text">Laurelin Paige is the NY Times, Wall Street Journal, and USA Today Bestselling Author of the Fixed Trilogy. She’s a sucker for a good romance and gets giddy anytime there’s kissing, much to the embarrassment of  three daughters. Her husband doesn’t seem to complain, however. When she isn’t reading or writing sexy stories, she’s probably singing, watching Game of Thrones and the Walking Dead, or dreaming of Michael Fassbender. She’s also a proud member of Mensa International though she doesn’t do anything with the organization except use it as material for her bio. You can connect with Laurelin on Facebook at facebook.com/LaurelinPaige or on twitter @laurelinpaige. You can also visit her website, laurelinpaige.com, to sign up for emails about new releases and a chance to win a $100 Amazon Gift Certificate in a monthly drawing.</p>

            </div>
          </div>
        </div>
      </div>
	</center>
    </div>
</div>
<%- include("partials/footer") %>
