<%- include("partials/header") %>
<div id="blog-bg">
	<div class="container">
		<center><input type="text" id="searchbar" onkeyup="search_blog()" placeholder="Search Here"></center>
	</div>
    <div class="container" id="blog-section">
      <center><div class="row">
        <div class="col-lg-6 col-sm-12">
          <div id="blog-cards" class="card h-100" style="width: 30rem;">
            <img src="/img/blogs/blog1.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <a href="/blogs/blog1"><h5 class="card-title">TRAVEL IS NEVER GOING TO BE THE SAME AGAIN</h5></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">If  you’re like me, you might be wondering
                  what the future of travel holds now that more countries are
                  easing lockdowns and opening borders. I wrote about the future
                  of travel back in March but, like everything COVID related,
                  a lot has changed since then.</p>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Author: Alisha Dixon</a>
              <a href="#" class="card-link">Publish Date:<span> 22/06/2020</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div id="blog-cards"class="card h-100" style="width: 30rem;">
            <img src="/img/blogs/blog2.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <a href="/blogs/blog2"><h5 class="card-title">HOW TO SEE TAIWAN ON A BUDGET</h5></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">With a million things to do, a huge variety
                  of delicious food, warm-hearted people, lots of hiking opportunities,
                  and beautiful buildings and temples, Taiwan has it all.</p>
                  <p>Yet, despite that, it remains one of the most underrated —
                     and undervisted — countries in Asia.</p>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Author: Will Smith</a>
              <a href="#" class="card-link">Publish Date:<span> 20/04/2020</span></a>
            </div>
          </div>
        </div>
      </div></center>
      <center><div class="row">
        <div id="give-space" class="col-lg-6 col-sm-12">
          <div id="blog-cards"class="card h-100" style="width: 30rem;">
            <img src="/img/blogs/blog3.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <a href="/blogs/blog3"><h5 class="card-title">MY 6 FAVORITE HOSTELS IN SAN DIEGO</h5></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">San Diego is an underrated destination.
                  While visitors flock to San Francisco and Los Angeles, more
                  often than not San Diego gets skipped over.</p>
                <p>With incredible weather, awesome beaches, and tons of things
                  to see and do (both in the city and nearby), San Diego is a
                  destination that shouldn’t be overlooked.</p>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Author: Tom Hanks</a>
              <a href="#" class="card-link">Publish Date:<span> 10/04/2020</span></a>
            </div>
          </div>
        </div>
        <div id="give-space" class="col-lg-6 col-sm-12">
          <div id="blog-cards"class="card h-100" style="width: 30rem;">
            <img src="/img/blogs/blog4.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <a href="/blogs/blog4"><h5 class="card-title">THE 8 BEST THINGS TO SEE AND DO IN TAIPEI</h5></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">The towering skyline of Taipei, Taiwan
                  featuring Taipei 101 Taipei, the capital of Taiwan and its most
                  populous city, is the epicenter of tourism for the country
                  (though most people just come for a short layover as it’s a
                  major air hub for Asia).</p>
                <p>And while there is plenty to do elsewhere in Taiwan, even if
                  you don’t leave Taipei, you can still find lots of things to
                  see and do in the area to fill close to a week!</p>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Author: Leonardo DiCaprio</a>
              <a href="#" class="card-link">Publish Date:<span> 19/03/2020</span></a>
            </div>
          </div>
        </div>
      </div>
	</center>
	</div>
</div>
<%- include("partials/footer") %>
