<%- include("partials/header") %>
<div id="videos">
<div class="container">

  <div class="jumbotron">
    <h1 id="white"><i class="fa fa-camera-retro"></i> The Video Gallery </h1>
    <p id="white">A bunch of beautiful Videos</p> 
  </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery1.mp4" type="video/mp4">
            </video>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
         	<video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery2.mp4" type="video/mp4">
            </video>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery3.mp4" type="video/mp4">
            </video>
        </div>
      </div>
	</div>
	<div class="row">
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery4.mp4" type="video/mp4">
            </video>
		  </div>
    </div>

      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery5.mp4" type="video/mp4">
            </video>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery6.mp4" type="video/mp4">
            </video>
        </div>
      </div>
	</div>
	<div class="row">
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery7.mp4" type="video/mp4">
            </video>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery8.mp4" type="video/mp4">
            </video>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div id="vid-space" class="img-thumbnail">
          <video id="vid-gallery" autoplay loop muted>
              <source src="/video/vidgallery9.mp4" type="video/mp4">
            </video>
      </div>
    </div>
  </div>
	</div>
</div>
<%- include("partials/footer") %>